<footer class="app-footer">
  <div layout="row" layout-align="end end" class="md-padding bgc-indigo-A400">
      <div class="social-links">
        <a href="https://github.com/PetrusStarken/" target="_blank" class="social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://pt.stackoverflow.com/users/34771/pedro-camara-junior" target="_blank" class="social-link"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/pedrocamarajunior" target="_blank" class="social-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://br.linkedin.com/in/pcamarajr" target="_blank" class="social-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
  </div>
  <div class="app-copyright md-padding bgc-indigo-A700" layout="row">
    <div layout="column">
      © 2016 Pedro Camara Junior
    </div>
  </div>
</footer>
