<header>
  <md-toolbar color="primary">
    <button md-button [md-menu-trigger-for]="menu" fxShow.xs fxHide>
      <md-icon>menu</md-icon>
    </button>

    <a md-button routerLink="/">GITHUB APP</a>

    <span flex></span>
    <div fxLayout="row" fxHide.xs>
      <a md-button routerLink="repo/PetrusStarken" routerLinkActive="router-link-active">MY REPOSITORIES</a>
      <a md-button routerLink="search" routerLinkActive="router-link-active">SEARCH</a>
    </div>

  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <a md-menu-item routerLink="repo/PetrusStarken">MY REPOSITORIES</a>
    <a md-menu-item routerLink="search">SEARCH</a>
  </md-menu>
</header>
