<td-layout-nav layout-fill>
  <div td-toolbar-content>
    <button md-button routerLink="home" routerLinkActive="router-link-active">GITHUB APP</button>
    <span flex></span>
    <button md-button routerLink="repo/PetrusStarken" routerLinkActive="router-link-active">MY REPOSITORIES</button>
    <button md-button routerLink="search" routerLinkActive="router-link-active">SEARCH</button>
  </div>

    <div layout-padding flex>
      <router-outlet></router-outlet>
    </div>

  <td-layout-footer color="accent">
    © 2016 Pedro Camara Junior
  </td-layout-footer>
</td-layout-nav>
