@import "./theme";

[color="primary"] {
  background-color:  mat-color($primary);
}

[color="secondary"] {
  background-color:  mat-color($secondary);
}

[color="accent"] {
  background-color:  mat-color($accent);
}

[color="warn"] {
  background-color: mat-color($warn);
}
